<%- include('../common/header.ejs',{})%>
<form class="" action="/suppliers/add" method="post">
  name :
  <input type="text" name="name" value="">
  kota :
  <input type="text" name="kota" value="">
  <input type="submit" name="submit" value="submit">
</form>

<%- include('../common/footer.ejs',{})%>
