<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Suppliers</title>
  </head>
  <body>
    <table>
      <form action="/suppliers/add" method="post">
        Name:<br>
        <input type="text" name="name" placeholder="Input Name">
        <br>
        Kota:<br>
        <input type="text" name="kota" placeholder="Input Kota">
        <br><br>
        <input type="submit" value="Submit">
      </form>
    </table>
  </body>
</html>
