<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/suppliers/add" method="post">
      Name:<br>
      <input type="text" name="name" placeholder="name">
      <br>
      Kota:<br>
      <input type="text" name="kota" placeholder="kota">
      <br><br>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
