<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Item for Suppliers</title>
  </head>
  <body>
    <table>
      <form action="/suppliers/additem/<%=dataSupplier.id%>" method="post">
        List Item:<br>
        <input type="text" name="name" placeholder="Input Name">
        <br>
        Price:<br>
        <input type="text" name="kota" placeholder="Input Kota">
        <br><br>
        <input type="submit" value="Submit">
      </form>
    </table>
  </body>
</html>
