<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <thead>
        <th>Name</th>
        <th>Brand</th>
        <th>Codeitem</th>
      </thead>
      <tbody>
        <form action="/item/edit/<%=dataItem.id%>" method="post">
          <tr>
            <td><input type="text" name="name" value="<%=dataItem.name%>"></td>
            <td><input type="text" name="brand" value="<%=dataItem.brand%>"></td>
            <td><input type="text" name="codeitem" value="<%=dataItem.codeitem%>"></td>
            <td><input type="submit" value="Submit"></td>
          </tr>
        </form>
      </tbody>
    </table>
  </body>
</html>
