<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
</head>
<body>

  <h3>Welcome, ? (EDIT SUPPLIER)</h3>

  <form action="/suppliers/edit/<%= data.id %>" method="post">
    <table>
      <tr>
        <td>Name: </td>
        <td>
          <input type="text" name="name" value="<%= data.name %>">
        </td>
      </tr>
      <tr>
        <td>Kota: </td>
        <td>
          <input type="text" name="kota" value="<%= data.kota %>">
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="submit" value="Submit">
        </td>
      </tr>
    </table>
  </form>

  <br>

  <a href="/suppliers"> << back to suppliers </a>

</body>
</html>
