<!DOCTYPE html>
<html>
  <head>
    <% include partials/header.ejs %>
  </head>
  <body>
    <h2><%= title %></h2>
    <form action="/suppliers/edit/<%= dataSupplier.id%>" method="post">
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Kota</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" name="name" value="<%= dataSupplier.name %>" required></td>
            <td><input type="text" name="kota" value="<%= dataSupplier.kota %>" required></td>
          </tr>
          <tr>
            <td><input type="submit" value="Submit"> <a href="/suppliers"><button>Cancel</button></a></td>
          </tr>
        </tbody>
      </table>
    </form>
  </body>
</html>
