<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Supplier</title>
  </head>
  <body>
    <form action="/suppliers/edit/<%= dataSupplier.id %>" method="post">
      Name : <input type="text" name="name" placeholder="Name" value="<%= dataSupplier.name %>"><br />
      Kota : <input type="text" name="kota" placeholder="Kota" value="<%= dataSupplier.kota %>"><br />
      <input type="submit" value="SUBMIT"><a href="/suppliers"><a href="/items">Cancel</a>
    </form>
  </body>
</html>
