<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Supplier</title>
  </head>
  <body>
    <% include partials/header.ejs %>
    <form action="/suppliers/add" method="post">
      Name : <input type="text" name="name" placeholder="Name"><br />
      Kota : <input type="text" name="kota" placeholder="Kota"><br />
      <input type="submit" value="SUBMIT"><a href="/suppliers"><a href="/items">Cancel</a>
    </form>
  </body>
</html>
