<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Counter Handphone Ceritanya</h1>
    <h3><a href="/supplier">Supplier</a></h3>
    <h3><a href="/item">Item</a></h3>
  </body>
</html>
