<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Halaman Index</h1>
    <a href="/">index</a>
    <a href="/items">Halaman Item</a>
    <a href="/suppliers">Halaman Supplier</a>
  </body>
</html>
