<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>E-Commerce</title>
  </head>
  <body>
    <h1>E-Commerce</h1>
    <a href="/items">Items</a>
    <a href="/suppliers">Supplier</a>
  </body>
</html>
