<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Retail Hacktiv8 Pondok Indah</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Retail Hacktiv8</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Home</a></li>
            <li><a href="/suppliers">suppliers</a></li>
            <li><a href="/items">Items</a></li>
            <li><a href="/search">Search</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Add Items</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <form action="/items/add" method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Name</label>
              <input type="text" name="name" class="form-control" id="exampleInputEmail1" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Kota</label>
              <input type="text" name="brand" class="form-control" id="exampleInputEmail1" placeholder="Brand">
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Kota</label>
              <input type="text" name="codeitem" class="form-control" id="exampleInputEmail1" placeholder="Kode Item">
            </div>

            <button type="submit" id="btn-add" class="btn btn-success">Submit</button>
          </form>
        </div>
        <%if (err) { %>
          <div>
            <br>
              <!-- <p><%=err%></p> -->
              <script>
              function myFunction() {
                  confirm("<%=err%>");
              }
              myFunction()
              </script>

          </div>

      <%  }%>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a href="/items" style="margin-top:20px; display:inline-block"> << back to items </a>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
