<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h3>Add Item</h3>
<p><a href="/items">List data</a></p>
<form action="/items/add" method="post">
	<p>Name</p>
	<input type="text" name="name" placeholder="name">
	<p>Brand</p>
	<input type="text" name="brand" placeholder="brand">
	<p>Code Item</p>
	<input type="text" name="codeitem" placeholder="codeitem">
	<p>
	<input type="submit" value="Add Item">
	</p>
</form>
</body>
</html>