<html>
    <head>
        <script>
            function formatuang (number){
                reverse = number.toString().split('').reverse();
                arr= [];
                for(var i = 0; i<reverse.length;i++){
                    if((i+1) % 3 === 0 && (i+1) !== reverse.length){
                    arr.push(reverse[i]);
                    arr.push('.');
                    }else{
                    arr.push(reverse[i]);
                    }
                }
                document.write('Rp. '+arr.reverse().join(''))
                // return 'Rp. '+arr.reverse().join('');
                }
            </script>
    </head>
        <body>
                <%- include ./partial/menu.ejs%>
                <form action="/item/search" method='post'>
                    <input type='text' name='name' placeholder='name search'>
                    <input type='text' name='minPrice' placeholder='min Price'>
                    <input type='text' name='maxPrice' placeholder='max Price'>
                    <input type='submit' value='submit'>
                </form>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Supplier</th>
                    <th>Price</th>
                </tr>
                    <%data.forEach(d => {%>
                        <tr>
                            <td></td>
                            <td><%=d.Item.name%></td>
                            <td><%=d.Supplier.name%></td>
                            <td><script>formatuang(`<%=d.price%>`)</script></td>
                        </tr>
                    <%})%>
            </table>
            <a href='/'>Home</a>
        </body>
    </html>