<html>

<head>
    <title>
        Add Supplier
    </title>
</head>

<body>
    <div id="form">
        <form action="/suppliers/add" method="post">
            Nama :
            <input name="name"/> <br>
            <input name="kota"/> <br>

            <input type="submit" value="Save">      
        </form>

    </div>
</body>

</html>