<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Supplier</title>
  </head>
  <body>
    <h1>Items</h1>
    <a href="/suppliers">Return to Supplier</a>
    <form class="" action="/suppliers/edit/<%=data.id%>" method="post">
      Nama <br>
      <input type="text" name="nama" value="<%=data.nama%>"><br>
      Kota <br>
      <input type="text" name="kota" value="<%=data.kota%>"><br>
      <button type="submit" name="button">Edit Data</button>
    </form>
  </body>
</html>
