<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h3>Add Supplayer</h3>
<p><a href="/suppliers">List data</a></p>
<form action="/suppliers/add" method="post">
	<p>Name</p>
	<input type="text" name="name" placeholder="name">
	<p>Kota</p>
	<input type="text" name="kota" placeholder="kota">
	<p>
	<input type="submit" value="Add Supplier">
	</p>
</form>
</body>
</html>