<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/suppliers/edit/<%=dataSupplier.id%>" method="POST">
      <input type="text" name="name" value="<%=dataSupplier.name%>" ><br>
      <input type="text" name="kota" value="<%=dataSupplier.kota%>" ><br>
      <input type="submit" value="Edit">
    </form>
  </body>
</html>
