<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%include partial/menu.ejs%>
    <div class="form">
      <h3>Add Supplier</h3>
      <form method="post">
        <input type="text" name="name" placeholder="Name"><br>
        <input type="text" name="kota" placeholder="Kota"><br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
