<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/suppliers/edit/<%=dataSupplier[0].id%>" method="post">
      <input type="input" name="name" value="<%=dataSupplier[0].name%>">
      <input type="input" name="kota" value="<%=dataSupplier[0].kota%>">
      <input type="submit" value="submit">
    </form>
  </body>
</html>
