<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h3>Add Supplayer</h3>
<p><a href="/suppliers">List data</a></p>
<form action="/suppliers/edit/<%-data.id%>" method="post">
	<p>Name</p>
	<input type="text" name="name" value="<%-data.name%>">
	<p>Kota</p>
	<input type="text" name="kota" value="<%-data.kota%>">
	<p>
	<input type="submit" value="Add Supplier">
	</p>
</form>
</body>
</html>