<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Halaman Edit Item</title>
  </head>
  <body>
    <div class="container">
      <h2 class="heading"><strong>Halaman Edit Item</strong></h2>
    <br>
    <form action="/items/edit/<%= dataItem.id %>" method="post">
      <div class="form-group">
        <label for="name">Item Name :</label>
        <input type="text" class="form-control" name="name" value="<%= dataItem.name %>" required>
      </div>
      <div class="form-group">
        <label for="name">Nama Brand :</label>
        <input type="text" class="form-control" name="brand" value="<%= dataItem.brand %>" required>
      </div>
      <div class="form-group">
        <label for="name">Kode Item :</label>
        <input type="text" class="form-control" name="kodeitem" value="<%= dataItem.item %>" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg" style="width:100%;"><i class="fa fa-check"> Update Item</i></button>
      </div>
    </form>
  </body>
  </div>
</html>
