<!DOCTYPE html>
<html>
  <head>
    <title>HTML5 sample page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  	<a href="/">Home </a><a href="/suppliers">Suppliers </a><a href="/items">Items </a>
    <h1>Edit Item</h1>

    <%# err.errors.forEach((msg) => { %>
      <!-- <ul> -->
      	<!-- <li><%# msg.message %></li> -->
      <!-- </ul> -->
	<%# }) %>
	  
    <form action="/items/edit/<%= rows.id %>" method="POST">
	  Name:<br>
	  <input type="text" name="name" value="<%= rows.name %>">
	  <br>
	  Brand:<br>
	  <input type="text" name="brand" value="<%= rows.brand %>">
	  <br>
	  Code Item:<br>
	  <input type="text" name="codeItem" value="<%= rows.codeItem %>">
	  <br><br>
	  <input type="submit" value="Submit">
	</form> 
	</table> 
  </body>
</html>