<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
    <script type="text/javascript">   
    var re = /(HP|SW|LP)\d{4}/;  
      
    function testInfo(phoneInput) {
    console.log('masuk sini');  
    var OK = re.exec(phoneInput.value);  
    if (!OK){
          window.alert(phoneInput.value + ' Bukan Kode item yang tepat!')
          event.preventDefault();  
        }
      }
    </script>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Add Item</h1>
        <form action="/item/addItem" method="POST">
                <input type="text" name="name" placeholder="Nama Barang">
                <input type="text" name="brand" placeholder="Brand">
                <input type="text" name="codeitem" placeholder="Code Item" id="codeitem">
                <button onclick="testInfo(document.getElementById('codeitem'))" type="submit">Submit</button>
         </form>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>